{% extends '::base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">Setup</li>
                <li class="active"><a href="{{ path('company') }}">Company</a></li>
                <li class="active">Create New Company</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>New Company</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    <hr>
                    <span class="pull-right">
                        <a href="{{ path('company') }}" class="btn btn-primary">Back</a>
                    </span>
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
