{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form_start(edit_form, { 'style': 'horizontal' }) }}
    {{ form_row(edit_form.username) }}
    {{ form_row(edit_form.email) }}
    {{ form_row(edit_form.password) }}
    {{ form_row(edit_form.enabled) }}
    {{ form_row(edit_form.roles) }}
    {{ form_widget(edit_form.submit) }}
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
