{% extends '::base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        {# remove last separator if 1 or 2 #}
        .breadcrumb > li + li:nth-last-child(1):before {
            content: " ";
        }
    </style>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-6">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">Admin</li>
                <li class="active">Manage User</li>
                <li class="active">User</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
        <div class="col-lg-2">
            <form action="{{ path('user_find_username') }}" method="post" accept-charset="UTF-8" role="search">
                <input type="text" class="form-control" placeholder="Search..." name="username" />
            </form>
        </div>
        <div class="col-lg-4">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li class="active">
                <li class="pull-right">
                    <a class="btn btn-sm btn-primary my-add" href="{{ path('user_new') }}">
                        Add <i class="icon-plus"></i>
                    </a>
                </li>
                </li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>User list</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Created By</th>
                        <th>Roles</th>
                        <th>Lastlogin</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>
                                <img src="
                                    {% if entity.image == true %}
                                        {{ asset(['uploads/users/', entity.getImage()]|join) }}
                                    {% else %}
                                        {{ asset('uploads/users/userDefaultLogo.png') }}
                                    {% endif %}
                                     " width="60px" height="50px" alt=""/>
                            </td>
                            <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                            <td>{{ entity.email }}</td>
                            <td>
                                {% if entity.enabled == true %}
                                    <span class="label label-inverse label-mini">Enabled</span>
                                {% else %}
                                    <span class="label label-warning label-mini">disabled</span>
                                {% endif %}
                            </td>
                            <td>{{ entity.createdAt|date('d-m-Y H:i:s') }}</td>
                            <td>{{ entity.createdBy }}</td>
                            <td>
                                <ul>
                                    <li>{{ entity.roles|join(' , ')|replace({'ROLE_':'','_':' '|capitalize})|title }}</li>
                                </ul>
                            </td>
                            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <a href="{{ path('user_show', { 'id': entity.id }) }}"
                                   class="btn btn-success btn-xs"><i class="icon-zoom-in"></i></a>
                                <a href="{{ path('user_edit', { 'id': entity.id }) }}"
                                   class="btn btn-info btn-xs"><i class="icon-pencil"></i></a>
                                <a href="{{ path('user_delete', { 'id': entity.id }) }}"
                                   class="btn btn-danger btn-xs delete-confirm"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            <div class="text-center">
                <span>
                    {{ knp_pagination_render(entities, "", {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}
