{% extends '::base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        {# remove last separator if last or more 
        .breadcrumb > li + li:nth-last-child(1):before {
            content: " ";
        } #}
        .breadcrumb > li + li.pull-right:last-child:before {
            content: "";
        }

        {# add default btn-default class #}
        .btn-default {
            color: #333333;
            background-color: #ffffff;
            border-color: #cccccc;
        }
    </style>
{% endblock %}

{% block body -%}
    {% if filter is defined %}
        <div class="alert alert-success fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
            </button>
            <p>
                Filtered by: <strong>{{ filter }}</strong>
                &nbsp;&nbsp;&nbsp; {{ entities.NbResults }} users has found
            </p>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">Admin</li>
                <li class="active">Manage User</li>
                {% if get_action_name() == "findUsername" %}
                    <li><a href="{{ path('user') }}">User</a></li>
                    <li class="active">Search</li>
                {% else %}
                    <li class="active">User</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-3">
            <form class="row" action="{{ path('user_find_username') }}" id="form" method="post" accept-charset="UTF-8"
                  role="search">
                <div class="input-group">
                    <input type="text" class="form-control" value="Search here..." name="username" size="10"
                           id="username"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="icon-search"></i>
                            </button>
                        </span>
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <ul class="breadcrumb">
                <li class="active">
                <li class="my-add pull-right">
                    <a class="btn btn-sm btn-primary" href="{{ path('user_new') }}">
                        Add <i class="icon-plus"></i>
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {% if get_action_name() == "findUsername" %}
                        <strong>Search Result</strong>
                    {% else %}
                        <strong>User list</strong>
                    {% endif %}
                    <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                {% if entities is not empty %}
                    {{ include('AcmeUserBundle:User:userTable.html.twig', {'entities': entities }) }}
                {% else %}
                    <div class="well">
                        <p class="text-info">No users were found</p>
                    </div>
                {% endif %}
            </section>
            <div class="add-task-row">
                {% if entities.haveToPaginate %}
                    <span class="pull-left" style="margin-top: 20px">
                        <strong>{{ entities.NbResults }}</strong>
                        {{ 'users has found'|trans }}.
                        {{ 'Page'|trans }} <strong>{{ entities.CurrentPage }}/{{ entities.NbPages }} </strong>
                    </span>
                    <span class="pull-right">
                        {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#username').focus(function (evt) {
                if ($(this).val() == 'Search here...')
                    $(this).val('');
            });
            $('#username').blur(function (evt) {
                if ($(this).val() == '')
                    $(this).val('Search here...');
            });
        });
    </script>
{% endblock %}