{% extends '::base.html.twig' %}

{% block title %}User{% endblock %}

{#{% form_theme form 'AcmeUserBundle:Form:fields.html.twig' %}#}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">Admin</li>
                <li class="active">Manage User</li>
                <li class="active"><a href="{{ path('user') }}">User</a></li>
                <li class="active">Create New User</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Create New User</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal' }} ) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    <div class="row form-group">
                        {{ form_label(form.enabled , 'Enabled' , {'label_attr': { 'class':'col-sm-3 control-label'} } ) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.enabled, {'attr': { 'class':' '} } ) }}
                        </div>
                        {{ form_errors(form.enabled) }}
                    </div>
                    {{ form_row(form.roles) }}
                    {{ form_row(form.file) }}
                    <hr>
                    <span class="pull-right">
                        <a href="{{ path('user') }}" class="btn btn-primary">Back</a>
                    </span>
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
