{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User creation</h1>

    {{ form(form, { 'style': 'horizontal' }) }}
    {{ form_start(form, { 'style': 'horizontal' }) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.roles) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
