{% extends '::base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}"/>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-7">
            <section class="panel">
                <header class="panel-heading">
                    <strong>New Issue</strong>
                    <span class="tools pull-right">
                       <a class="icon-chevron-down" href="javascript:;"></a>
                       <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal', 'id': 'masterForm', 'onSubmit': 'return masterOnSubmit();' } }) }}
                    {{ form_row(form.issueDate) }}
                    {{ form_row(form.fromLocation) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.depot) }}
                    {{ form_end(form) }}
                </div>
                <hr>
            </section>
        </div>

        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Add Issue Line</strong>
                    <span class="tools pull-right">
                       <a class="icon-chevron-down" href="javascript:;"></a>
                       <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ form_start(line_form, {'attr' :  { 'class': 'form-horizontal', 'id': 'lineForm' } }) }}
                    {{ form_row(line_form.product) }}
                    {{ form_row(line_form.quantity) }}
                    {{ form_row(line_form.purpose) }}
                    {{ form_row(line_form.comment) }}
                    <span class="pull-right">
                        <input type="button" class="btn btn-info" id="lineAdd" value="Add Line" onclick="addLine();"/>
                    </span>
                    {{ form_end(line_form) }}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Issue Lines</strong>
                  <span class="tools pull-right">
                      <a class="icon-chevron-down" href="javascript:;"></a>
                      <a class="icon-remove" href="javascript:;"></a>
                  </span>
                </header>
                <div class="panel-body">
                    <table id="lineViewer" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Amount</th>
                            <th>Purpose</th>
                            <th>Comment</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in lines %}
                            <tr class="{{ line.product.getId() }}">
                                <td>{{ line.product }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.purpose }}</td>
                                <td>{{ line.comment }}</td>
                                <td><a href="{{ path('issue_line_delete', {'id' : line.getId() }) }}"
                                       class="btn btn-danger btn-xs existing-line-delete"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <input type="button" class="btn btn-info" id="submitForm" value="Save" onclick="submitBoth();"/>

            <div class="pull-right">
                <a class="btn btn-primary" href="{{ path('issue') }}">
                    Back
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var addedLines = {
            {% for line in lines %}
            "{{ line.product.getId() }}": "1",
            {% endfor %}
        };

        function clearLinetable() {
            $('table#lineViewer tbody').html('');
        }

        function addLine() {
            if (addedLines.hasOwnProperty($('#issue_line_product').val())) {
                noty({force: true, text: 'You already added this product please add another. Or delete existing and try again.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            if (!$('#issue_line_product').val() || !$('#issue_line_quantity').val() || !$('#issue_line_purpose').val()) {
                noty({force: true, text: 'Please fill the form correctly', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            var html = '<tr class="' + $('#issue_line_product').val() + '">';
            html += '<td>' + $('#issue_line_product option:selected').text() + '<input type="hidden" value="' + $('#issue_line_product').val() + '" name="' + $('#issue_line_product').attr('name') + '[]" /></td>';
            html += '<td>' + $('#issue_line_quantity').val() + '<input type="hidden" value="' + $('#issue_line_quantity').val() + '" name="' + $('#issue_line_quantity').attr('name') + '[]" /></td>';
            html += '<td>' + $('#issue_line_purpose').val() + '<input type="hidden" value="' + $('#issue_line_purpose').val() + '" name="' + $('#issue_line_purpose').attr('name') + '[]" /></td>';
            html += '<td>' + $('#issue_line_comment').val() + '<input type="hidden" value="' + $('#issue_line_comment').val() + '" name="' + $('#issue_line_comment').attr('name') + '[]" /></td>';
            html += '<td><a href="javascript:void(0);" class="btn btn-danger btn-xs line-delete"><i class="icon-trash"></i></a></td>';
            html += '</tr>';
            $('table#lineViewer tbody').append(html);

            addedLines[$('#issue_line_product').val()] = 1;
            document.getElementById('lineForm').reset();
        }


        function masterOnSubmit() {
            $('table#lineViewer tbody :input').not(':submit').clone().hide().appendTo('#masterForm');

            return true;
        }

        function submitBoth() {
            if (!$('#acme_issuebundle_issue_company').val()) {
                noty({force: true, text: 'Please select company.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            if ($('table#lineViewer tbody').children().length <= 0) {
                noty({force: true, text: 'Please add product line', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            $('#masterForm').submit();
        }

        $(document).ready(function () {
            $(document).on("click", "a.line-delete", function () {
                if (!confirmDelete())
                    return false;

                var parentTr = $(this).closest('tr');
                var id = $(parentTr).attr('class');
                $(parentTr).remove();
                delete addedLines[id];
            });

            $(document).on("click", "a.existing-line-delete", function (e) {
                e.preventDefault();
                if (!confirmDelete())
                    return false;

                var obj = $(this);
                var url = $(this).attr('href');
                $.ajax({
                    type: "GET",
                    url: url,
                    statusCode: {
                        200: function (data) {
                            noty({force: true, text: data, type: 'success', layout: 'topCenter', timeout: 3000});
                            var parentTr = $(obj).closest('tr');
                            var id = $(parentTr).attr('class');
                            $(parentTr).remove();
                            delete addedLines[id];
                        },
                        403: function () {
                            noty({force: true, text: 'Access denied', type: 'error', layout: 'topCenter', timeout: 3000});
                        },
                        404: function (data) {
                            noty({force: true, text: 'Line not found', type: 'error', layout: 'topCenter', timeout: 3000});
                        }
                    },
                    dataType: "html"
                });
            });
        });
    </script>

    <script type="text/javascript" src="{{ asset('assets/noty/jquery.noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/noty/layouts/topCenter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/noty/themes/default.js') }}"></script>
{% endblock %}