{% extends '::base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/data-tables-bootstrap3/css/datatables.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-7">
            <div>
                <a class="btn btn-sm btn-primary" href="{{ path('issue_new') }}">
                    Add <i class="icon-plus"></i>
                </a>
            </div>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <strong>Issue List</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table id="issueDataTable" class="display table table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <th>Issue Date</th>
                                <th>Company</th>
                                <th>Depot</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="" style="margin-top: 30px;">
        </div>
        <br />
        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Product Info</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table id="issueLineDataTable" class="display table table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/data-tables-bootstrap3/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function() {
            var issueTable = $('#issueDataTable').dataTable( {
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '{{ path('issue_result') }}',
                "aoColumns": [
                    {
                        "mData": "issueDate",
                        "mDataProp": "issueDate",
                        "sName": "issueDate"
                    },
                    {
                        "mData": "company",
                        "mDataProp": "company",
                        "sName": "company"
                    },
                    {
                        "mData": "depot",
                        "mDataProp": "depot",
                        "sName": "depot"
                    },
                    {
                        "mData": "status",
                        "mDataProp": "status",
                        "sName": "status",
                        "fnRender": function (oObj)
                        {
                            if(oObj.aData['status'])
                            {
                                return '<span class="label label-success">Finalized</span>'
                            }
                            return '<span class="label label-default">Draft</span>';
                        }
                    },
                    {
                        "mData":  "id",
                        "mDataProp":  "id",
                        "sName":  "id",
                        "bSearchable": false,
                        "bSortable": false,
                        "sDefaultContent": "",
                        "fnRender": function (oObj)
                        {
                            var showURL = '{{ path('issue_show', {'id': 'repPID'}) }}';
                            var editURL = '{{ path('issue_edit', {'id': 'repPID'}) }}';
                            var deleteURL = '{{ path('issue_delete', {'id': 'repPID'}) }}';

                            return '<a href="'+ showURL.replace('repPID', oObj.aData['id'])+'" class="btn btn-success btn-xs"><i class="icon-zoom-in"></i></a>' +
                                    ' <a href="'+editURL.replace('repPID', oObj.aData['id'])+'" class="btn btn-info btn-xs"><i class="icon-pencil"></i></a>' +
                                    ' <a href="'+deleteURL.replace('repPID', oObj.aData['id'])+'" class="btn btn-danger btn-xs btn-delete"><i class="icon-trash"></i></a>';
                        }
                    }
                ],
                "fnPreDrawCallback": function(oSettings, json) {
                    $('.dataTables_filter input').addClass('form-control input-sm');
                    $('.dataTables_filter input').css('width', '200px');
                    $('.dataTables_length select').addClass('form-control input-sm');
                    $('.dataTables_length select').css('width', '75px');
                }
            } );
        } );
    </script>


    <script>
        $(document).ready(function() {
            var issueLineTable = $('#issueLineDataTable').dataTable( {
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '{{ path('issue_line_result') }}',
                "aoColumns": [
                    {
                        "mData": "product.name",
                        "mDataProp": "product.name",
                        "sName": "product.name"
                    },
                    {
                        "mData": "quantity",
                        "mDataProp": "quantity",
                        "sName": "quantity"
                    },
                    {
                        "mData": "comment",
                        "mDataProp": "comment",
                        "sName": "comment"
                    }
                ],
                "fnPreDrawCallback": function(oSettings, json) {
                    $('.dataTables_filter input').addClass('form-control input-sm');
                    $('.dataTables_filter input').css('width', '200px');
                    $('.dataTables_length select').addClass('form-control input-sm');
                    $('.dataTables_length select').css('width', '75px');
                }
            } );
        } );
    </script>
{% endblock %}
