{% extends '::base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}"/>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active"><a href="{{ path('issue') }}">Issue</a></li>
                <li class="active">Create New Issue</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <section class="panel">
                <header class="panel-heading">
                    <strong>New Issue</strong>
					<span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal', 'id': 'masterForm', 'onSubmit': 'return masterOnSubmit();' } }) }}
                    {{ form_row(form.issueDate) }}
                    {{ form_row(form.fromLocation) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.depot) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>

        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Add Issue Line</strong>
					<span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                    {{ form_start(line_form, {'attr' :  { 'class': 'form-horizontal', 'id': 'lineForm' } }) }}
                    {{ form_row(line_form.referenceNumber) }}
                    {{ form_row(line_form.issueTo) }}
                    {{ form_row(line_form.product) }}
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-3 control-label">Current Stock</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="product-stock" type="text" placeholder="0.00" value="0" disabled>
                        </div>
                    </div>
                    {{ form_row(line_form.quantity) }}
                    <hr>
                    <span class="pull-right">
                        <input type="button" class="btn btn-info" id="lineAdd" value="Add Line" onclick="addLine();"/>
                    </span>
                    {{ form_end(line_form) }}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Issue Lines</strong>
					<span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table id="lineViewer" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Reference No</th>
                            <th>Issue to</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <input type="button" class="btn btn-info" id="submitForm" value="Save" onclick="submitBoth();"/>
            <span class="pull-right">
                <a class="btn btn-primary" href="{{ path('issue') }}">
                    Back
                </a>
            </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var addedLines = [];

        function clearLinetable() {
            $('table#lineViewer tbody').html('');
        }

        function addLine() {
            if (addedLines.hasOwnProperty($('#issue_line_product').val())) {
                noty({force: true, text: 'You already added this product please add another. Or delete existing and try again.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            if (!$('#issue_line_product').val() || !$('#issue_line_quantity').val() || !$('#issue_line_issueTo').val()) {
                noty({force: true, text: 'Please fill the form correctly', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            if (!$('#issue_line_referenceNumber').val()) {
                noty({force: true, text: 'Please fill the form correctly', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            var html = '<tr class="' + $('#issue_line_product').val() + '">';
            html += '<td>' + $('#issue_line_referenceNumber').val() + '<input type="hidden" value="' + $('#issue_line_referenceNumber').val() + '" name="' + $('#issue_line_referenceNumber').attr('name') + '[]" /></td>';
            html += '<td>' + $('#issue_line_issueTo').val() + '<input type="hidden" value="' + $('#issue_line_issueTo').val() + '" name="' + $('#issue_line_issueTo').attr('name') + '[]" /></td>';
            html += '<td>' + $('#issue_line_product option:selected').text() + '<input type="hidden" value="' + $('#issue_line_product').val() + '" name="' + $('#issue_line_product').attr('name') + '[]" /></td>';
            html += '<td>' + $('#issue_line_quantity').val() + '<input type="hidden" value="' + $('#issue_line_quantity').val() + '" name="' + $('#issue_line_quantity').attr('name') + '[]" /></td>';
            html += '<td><a href="javascript:void(0);" class="btn btn-danger btn-xs line-delete"><i class="icon-trash"></i></a></td>';
            html += '</tr>';
            $('table#lineViewer tbody').append(html);

            addedLines[$('#issue_line_product').val()] = 1;
            document.getElementById('lineForm').reset();
        }

        function masterOnSubmit() {
            $('table#lineViewer tbody :input').not(':submit').clone().hide().appendTo('#masterForm');

            return true;
        }

        function submitBoth() {
            if (!$('#acme_issuebundle_issue_company').val()) {
                noty({force: true, text: 'Please select from location.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            if ($('table#lineViewer tbody').children().length <= 0) {
                noty({force: true, text: 'Please add product line', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            $('#masterForm').submit();
        }

        $(document).ready(function () {
            $(document).on("click", "a.line-delete", function () {
                if (!confirmDelete())
                    return false;

                var parentTr = $(this).closest('tr');
                var id = $(parentTr).attr('class');
                $(parentTr).remove();
                delete addedLines[id];
            });

            $('#issue_line_product').change(function(){
                $.post(
                        '{{ path('product_current_stock') }}',
                        {
                            'product': $('#issue_line_product').val()
                        },
                        function(data)
                        {
                            $('#product-stock').val(data.result);
                        },
                        'json'
                );
            });
        });
    </script>

    <script type="text/javascript" src="{{ asset('assets/noty/jquery.noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/noty/layouts/topCenter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/noty/themes/default.js') }}"></script>
{% endblock %}