{% extends '::base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <span class="text-info">You are here <span class="divider">»</span></span>
                <li>
                    <a href="{{ path('dashboard') }}"><i class="icon-home"></i>Dashboard</a>
                </li>
                <li class="active">Location</li>
                <ul class="pull-right">
                    <a class="btn btn-sm btn-primary my-add" href="{{ path('location_new') }}">
                        Add <i class="icon-plus"></i>
                    </a>
                </ul>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Location list</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('location_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>
                                <a href="{{ path('location_show', { 'id': entity.id }) }}"
                                   class="btn btn-success btn-xs"><i class="icon-zoom-in"></i></a>
                                <a href="{{ path('location_edit', { 'id': entity.id }) }}"
                                   class="btn btn-info btn-xs"><i class="icon-pencil"></i></a>
                                <a href="{{ path('location_delete', { 'id': entity.id }) }}"
                                   class="btn btn-danger btn-xs delete-confirm"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 <span class="pull-right">
                        {{ knp_pagination_render(entities, "", {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
                </span>
            </section>
        </div>
    </div>
{% endblock %}
