{% extends '::base.html.twig' %}

{% block title %}Product{% endblock %}

{% block stylesheets %}
<style type="text/css">
.product-image img {
    width: 279px;
    height: 222px;
    position: relative;
}
</style>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">Setup</li>
                <li class="active"><a href="{{ path('product') }}">Product</a></li>
                <li class="active">Product Detail's</li>
                <ul class="pull-right my-add">
                    <a class="btn btn-sm btn-success" href="{{ path('product_new') }}">
                        <i class="icon-plus"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="{{ path('product_edit', {'id' : entity.id}) }}">
                        <i class="icon-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger btn-delete delete-confirm"
                       href="{{ path('product_delete', {'id' : entity.id}) }}">
                        <i class="icon-trash"></i>
                    </a>
                </ul>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Product Details</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <div class="row product-list">
                    <div class="col-md-4">
                        <section class="panel">
                          <div class="pro-img-box product-image">
                              <img src="/uploads/product/{{entity.getImage()}}" alt=""/>
                          </div>
                          <div class="panel-body text-center">
                              <h4>
                                  <span class="pro-title">
                                      Product Name: {{entity.name}}
                                  </span>
                              </h4>
                              <p class="price">Product Id: {{entity.id}}</p>
                          </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <span class="pull-right">
            <a href="{{ path('product') }}" class="btn btn-primary">
                Back
            </a>
        </span>
        </div>
    </div>
{% endblock %}
