{% extends '::base.html.twig' %}

{% block title %}IssueLine{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>IssueLine list</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Reference No</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Issue To</th>
                            <th>Issue Id</th>
                            <th>Issue Date</th>
                            <th>To Company</th>
                            <th>To Depot</th>
                            <th>Created At</th>
                            <th>Created By</th>
                            <th>Updated At</th>
                            <th>Updated By</th>
                            <th>Finalize Date</th>
                            <th>Finalized By</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.referenceNumber ? entity.referenceNumber.id }}</td>
                                <td>{{ entity.product.name }}</td>
                                <td>{{ entity.quantity }}</td>
                                <td>{{ entity.issueTo }}</td>
                                <td>{{ entity.issue.id }}</td>
                                <td>{{ entity.issue.issueDate|date('Y-m-d') }}</td>
                                <td>{{ entity.issue.company.name }}</td>
                                <td>{{ entity.issue.depot.name }}</td>
                                <td>{{ entity.issue.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.issue.createdBy }}</td>
                                <td>{{ entity.issue.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.issue.updatedBy }}</td>
                                <td>{{ entity.issue.finalizeDate|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.issue.finalizedBy }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
