<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a href="{{ path('dashboard') }}">
                <i class="icon-dashboard text-primary"></i>
                <span>Dashboard</span>
            </a>
        </li>

        {% if is_granted('ROLE_PURCHASE') %}
        <li>
            <a href="{{ path('purchase') }}">
                <i class="icon-shopping-cart text-primary"></i>
                <span>Purchase</span>
            </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ISSUE') %}
        <li>
            <a href="{{ path('issue') }}" >
                <i class="icon-move text-primary"></i>
                <span>Issue</span>
            </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_EMAIL') %}
        <li>
            <a href="{{ path('email') }}" >
                <i class="icon-envelope text-primary"></i>
                <span>Email</span>
                {% if pagerEntities is defined %}
                    <span class="label label-danger pull-right mail-info">{{ pagerEntities.NbResults }}</span>
                {% endif %}
            </a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_HISTORY') %}
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="icon-book text-primary"></i>
                    <span>History</span>
                </a>
                <ul class="sub">
                    <li><a  href="{{ path('acme_history_purchase') }}"><i class="icon-book"></i>Purchase History</a></li>
                    <li><a  href="{{ path('acme_history_issue') }}"><i class="icon-book"></i>Issue History</a></li>
                    <li><a  href="{{ path('acme_history_product') }}"><i class="icon-book"></i>Product History</a></li>
                </ul>
            </li>
        {% endif %}

        {% if is_granted('ROLE_SETUP') %}
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-wrench text-primary"></i>
                <span>Setup</span>
            </a>
            <ul class="sub">
                <li><a  href="{{ path('company') }}"><i class="icon-suitcase"></i>Company Setup</a></li>
                <li><a  href="{{ path('depot') }}"><i class="icon-truck"></i>Depot Setup</a></li>
                <li><a  href="{{ path('location') }}"><i class="icon-road"></i>Location Setup</a></li>
                <li><a  href="{{ path('supplier') }}"><i class="icon-anchor"></i>Supplier Setup</a></li>
                <li><a  href="{{ path('product') }}"><i class="icon-asterisk"></i>Product Setup</a></li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_REPORT') %}
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-th-list text-primary"></i>
                <span>Reports</span>
            </a>
            <ul class="sub">
                <li><a  href="{{ path('purchase_report') }}"><i class="icon-th-list"></i>Purchase Report</a></li>
                <li><a  href="{{ path('issue_report') }}"><i class="icon-th-list"></i>Issue Report</a></li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-user text-primary"></i>
                <span>Admin</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('user') }}"><i class="icon-user text-primary"></i>Manage User</a></li>
            </ul>
        </li>
        {% endif %}

    </ul>
    <!-- sidebar menu end-->
</div>