<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a href="{{ path('dashboard') }}">
                <i class="icon-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-archive"></i>
                <span>Received</span>
            </a>
        </li>
        <li>
            <a href="#" >
                <i class="icon-move"></i>
                <span>Issued</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-wrench"></i>
                <span>Setup</span>
            </a>
            <ul class="sub">
                <li><a  href="{{ path('company') }}">Company Setup</a></li>
                <li><a  href="{{ path('category') }}">Category Setup</a></li>
                <li><a  href="{{ path('depot') }}">Depot Setup</a></li>
                <li><a  href="{{ path('item') }}">Item Setup</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-user-md"></i>
                <span>Admin Area</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('user') }}"><i class="icon-user"></i>Manage User</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>