<table class="table table-inbox table-hover">
    <thead>
        <tr>
            <th><i class="icon-star"></i></th>
            <th>Manufacturer</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Net Price</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result.PurchaseLines %}
            <tr class="">
                <td class="inbox-small-cells"><i class="icon-star"></i></td>
                <td>{{ item.manufacturer }}</td>
                <td>{{ item.price|number_format(2) }}</td>
                <td>{{ item.quantity|number_format(2) }}</td>
                <td>{{ (item.price/item.quantity)|number_format(2) }}</td>
                <td>{{ item.purchaseDate|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>