{% extends '::base.html.twig' %}

{% block title %}Depot{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>New Depot</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    <hr>
                    <span class="pull-right">
                        <a href="{{ path('depot') }}" class="btn btn-primary">Back</a>
                    </span>
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>

{% endblock %}
