{% extends '::base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/gritter/css/jquery.gritter.css') }}" />
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li><a href="{{ path('invoice') }}">Invoice</a></li>
                <li class="active">Create New Invoice</li>
            </ul>
        </div>
    </div>

<!-- <section>
    <div class="panel panel-primary">
        <div class="panel-heading navyblue"> INVOICE</div>
    </div>
</section> -->

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Invoice Info</strong>
                      <span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                      </span>
                </header>
                <div class="panel-body">
                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal', 'id': 'masterForm', 'onSubmit': 'return masterOnSubmit();' } }) }}
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                        {{ form_row(form.customer) }}
                        {{ form_row(form.invoiceDate) }}
                        {{ form_row(form.invoiceStatus) }}
                </div>
            </section>
        </div>


        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Shipping Address</strong>
                      <span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                      </span>
                </header>
                <div class="panel-body">
                    {{ form_row(form.name) }}
                        <hr>
                    {{ form_row(form.address) }}
                </div>
            </section>
        </div>

                {{ form_end(form) }}

        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Add Invoice Line</strong>
                      <span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                      </span>
                </header>
                <div class="panel-body">
                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal', 'id': 'lineForm'} }) }}
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                        {{ form_row(line_form.description) }}
                        {{ form_row(line_form.unitPrice) }}
                        {{ form_row(line_form.quantity) }}
                        <hr>
                    <span class="pull-right">
                        <input type="button" class="btn btn-info" id="lineAdd" value="Add Line" onclick="addLine();"/>
                    </span>
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Invoice Lines</strong>
                        <span class="tools pull-right">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                        </span>
                </header>
                <div class="panel-body">
                    <table id="lineViewer" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th id="serialNumber">#</th>
                            <th class="hidden-phone">Description</th>
                            <th class="">Unit Price</th>
                            <th class="">Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="col-lg-4 invoice-block pull-right">
                    <ul class="unstyled amounts">
                        <li><strong>Sub - Total amount :</strong> <span>00</span></li>
                        <li><strong>Discount :</strong> 10%</li>
                        <li><strong>VAT :</strong> -----</li>
                        <li><strong>Grand Total :</strong> $6138</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <div class="text-center invoice-btn">
        <a class="btn btn-danger btn-lg" onclick="submitBoth();"><i class="icon-check"></i> Submit Invoice </a>
        <a class="btn btn-info btn-lg" onclick="javascript:window.print();"><i class="icon-print"></i> Print
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var addedLines = [];
        var result = [];
        var subTotal = 0;

        function addLine() {

            if (addedLines.hasOwnProperty($('#invoice_line_description').val())) {
                $.gritter.add({
                    title: 'Duplicate Information!',
                    text: 'You already added this description please add another Or delete existing and try again.'
                });

                return false;
            }

            if (!$('#invoice_line_description').val() || !$('#invoice_line_unitPrice').val() || !$('#invoice_line_quantity').val()) {
                $.gritter.add({
                    title: 'Oops, something wasn\'t right !',
                    text: 'Field is empty, it is required field and must be filled in.'
                    });

                return false;
            }

            if (isNaN($('#invoice_line_unitPrice').val()) || isNaN($('#invoice_line_quantity').val())){
                $.gritter.add({
                    title: 'Oops, something wasn\'t right !',
                    text: 'Please insert only numeric characters.'
                    });

                return false;
            }

            var serial = document.getElementById('lineViewer').rows.length;
            var unitPrice = $('#invoice_line_unitPrice').val();
            var quantity = $('#invoice_line_quantity').val();
            if (!$('#invoice_line_quantity').val()) {
                 result =  unitPrice * 1;
            }
            else{
                 result =  unitPrice * quantity;
            }

            var html = '<tr class="' + $('#invoice_line_description').val() + '">';
            html += '<td>' + serial +'</td>';
            html += '<td>' + $('#invoice_line_description').val() + '<input type="hidden" value="' + $('#invoice_line_description').val() + '" name="' + $('#invoice_line_description').attr('name') + '[]" /></td>';
            html += '<td>' + $('#invoice_line_unitPrice').val() + '<input type="hidden" value="' + $('#invoice_line_unitPrice').val() + '" name="' + $('#invoice_line_unitPrice').attr('name') + '[]" /></td>';
            html += '<td>' + $('#invoice_line_quantity').val() + '<input type="hidden" value="' + $('#invoice_line_quantity').val() + '" name="' + $('#invoice_line_quantity').attr('name') + '[]" /></td>';
            html += '<td>' + result.toFixed(2) +'</td>';
            html += '<td><a href="javascript:void(0);" class="btn btn-danger btn-xs line-delete"><i class="icon-trash"></i></a></td>';
            html += '</tr>';

            $('table#lineViewer tbody').append(html);
            addedLines[$('#invoice_line_description').val()] = 1;
            document.getElementById('lineForm').reset();

            $(this).each(function() {
                subTotal += result;
                $('ul.amounts li span').first().html(subTotal.toFixed(2));
            });
        }

        function masterOnSubmit() {
            $('table#lineViewer tbody :input').not(':submit').clone().hide().appendTo('#masterForm');
            return true;
        }

        function submitBoth() {
            if (!$('#acme_invoicebundle_invoice_name').val() || !$('#acme_invoicebundle_invoice_address').val()) {
                $.gritter.add({
                    title: 'Empty Shipping Address!',
                    text: 'The Shipping Address is empty, it is required and must be filled in.'
                });

                return false;
            }
            if ($('table#lineViewer tbody').children().length <= 0) {
                $.gritter.add({
                    title: 'Empty Invoice Line!',
                    text: 'The Invoice Line is empty, it is required and must be filled in.'
                });

                return false;
            }
            $('#masterForm').submit();
        }

        $(document).on("click", "a.line-delete", function () {
                if (!confirmDelete())
                    return false;

                var parentTr = $(this).closest('tr');
                var id = $(parentTr).attr('class');
                $(parentTr).remove();
                delete addedLines[id];

                $(this).each(function() {
                    subTotal -= result;
                    $('ul.amounts li span').first().html(subTotal.toFixed(2));
                });
            }
        );
    </script>
    <script type="text/javascript" src="{{ asset('assets/gritter/js/jquery.gritter.min.js') }}"></script>
{% endblock %}