{#{% extends '::base.html.twig' %}#}

{% block title %}Search-Results{% endblock %}

{% block body %}
    <h4><i class="icon-search"></i>Search results</h4>
    <div class="search-items-list">

        {% if result.PurchaseLines is not empty %}
            <dl class="search-entity-items">
                {% for item in result.PurchaseLines %}
                    <dt>{{ item.manufacturer }}</dt>
                    <dd>{{ item.price }}</dd>
                    <dd>{{ item.product.name }}</dd>
                {% endfor %}
            </dl>
        {% endif %}

        {% if result.issueLines is not empty %}
            <ul class="search-entity-items">
                {% for item in result.issueLines %}
                    <li><a class="search-entity-name"
                           href="{{ path('issue_show', { id: item.id }) }}">{{ item.referenceNumber }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}



        {% if result.PurchaseLines is empty and result.issueLines is empty and result.users is empty %}
            <p>There are no results</p>
        {% endif %}

    </div>
    <div class="clear"></div>
{% endblock %}