{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-archon">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Edit Issue
					<span class="pull-right">
                        <a  href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
					</span>
                    </h3>
                </div>
                <div class="panel-body">

                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal', 'id': 'masterForm', 'onSubmit': 'return masterOnSubmit();' } }) }}

                    {{ form_row(form.purchaseDate) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.depot) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-archon">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Add Issue Line
					<span class="pull-right">
                        <a  href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
					</span>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ form_start(line_form, {'attr' :  { 'class': 'form-horizontal', 'id': 'lineForm' } }) }}

                    {{ form_row(line_form.product, {'attr': {'class': 'chosen-select'}}) }}
                    <div class="form-group">
                        <label for="group" class="col-sm-3 control-label">Current</label>
                        <div class="col-sm-8">
                            <input id="current-stock-show" value="0" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    {{ form_row(line_form.quantity) }}
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary" id="lineAdd" value="Add Line" onclick="addLineCheck();"  />
                    </div>
                    {{ form_end(line_form) }}
                </div>
            </div>
        </div>
    </div>

    <div  class="row">
        <div class="col-md-12">
            <div class="panel panel-archon">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Issue Lines
					<span class="pull-right">
                        <a  href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
					</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <table id="lineViewer" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in lines %}
                            <tr class="{{ line.product.getId() }}">
                                <td>{{ line.product }}</td>
                                <td>{{ line.quantity }}</td>
                                <td><a href="{{ path('issue_line_delete', {'id' : line.getId() }) }}" class="btn btn-danger btn-xs existing-line-delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div  class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" id="submitForm" value="Save" onclick="submitBoth();"  />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var addedLines = {
            {% for line in lines %}
            "{{ line.product.getId() }}" : "1",
            {% endfor %}
        };

        function clearLinetable()
        {
            $('table#lineViewer tbody').html('');
        }

        function addLineCheck()
        {
            if(addedLines.hasOwnProperty($('#issue_line_product').val()))
            {
                noty({force: true, text: 'You already added this product please add another. Or delete existing and try again.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            if(!$('#issue_line_product').val() || !$('#issue_line_quantity').val())
            {
                noty({force: true, text: 'Please fill the form correctly', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }


        }

        function addLine()
        {


            var html = '<tr class="'+ $('#issue_line_product').val() +'">';
            html += '<td>'+ $('#issue_line_product option:selected').text() +'<input type="hidden" value="'+ $('#issue_line_product').val() +'" name="'+ $('#issue_line_product').attr('name') + '[]" /></td>';
            html += '<td>'+ $('#issue_line_quantity').val() +'<input type="hidden" value="'+ $('#issue_line_quantity').val() +'" name="'+ $('#issue_line_quantity').attr('name') + '[]" /></td>';
            html += '<td><a href="javascript:void(0);" class="btn btn-danger btn-xs line-delete"><i class="fa fa-trash-o"></i></a></td>';
            html += '</tr>';
            $('table#lineViewer tbody').append(html);

            addedLines[$('#issue_line_product').val()] = 1;
            document.getElementById('lineForm').reset();
        }


        function masterOnSubmit()
        {
            $('table#lineViewer tbody :input').not(':submit').clone().hide().appendTo('#masterForm');

            return true;
        }

        function submitBoth()
        {
            if(!$('#ra_bundle_stockbundle_issue_fromLocation').val())
            {
                noty({force: true, text: 'Please select from location.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            if(!$('#ra_bundle_stockbundle_issue_branch').val())
            {
                noty({force: true, text: 'Please select to location.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            if($('table#lineViewer tbody').children().length <= 0)
            {
                noty({force: true, text: 'Please add product line', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            $('#masterForm').submit();
        }

        $(document).ready(function(){
            $('.line-delete').live('click', function(){
                if(!confirmDelete())
                    return false;

                var parentTr = $(this).closest('tr');
                var id = $(parentTr).attr('class');
                $(parentTr).remove();
                delete addedLines[id];
            });

            $('#issue_line_product').change(function(){
                $.post(
                        '{{ path('ajax_get_current_stock') }}',
                        {
                            'fromLocation': $('#ra_bundle_stockbundle_issue_fromLocation').val(),
                            'product': $('#issue_line_product').val(),
                            'quantity': $('#issue_line_quantity').val()
                        },
                        function(data)
                        {
                            $('#current-stock-show').val(data.currentStock);
                        },
                        'json'
                );
            });

            $('.existing-line-delete').live('click', function(e){
                e.preventDefault();
                if(!confirmDelete())
                    return false;

                var obj = $(this);
                var url = $(this).attr('href');
                $.ajax({
                    type: "GET",
                    url: url,
                    statusCode: {
                        200: function(data) {
                            noty({force: true, text: data, type: 'success', layout: 'topCenter', timeout: 3000});
                            var parentTr = $(obj).closest('tr');
                            var id = $(parentTr).attr('class');
                            $(parentTr).remove();
                            delete addedLines[id];
                        },
                        403:function(){
                            noty({force: true, text: 'Access denied', type: 'error', layout: 'topCenter', timeout: 3000});
                        },
                        404:function(data)
                        {
                            noty({force: true, text: 'Line not found', type: 'error', layout: 'topCenter', timeout: 3000});
                        }
                    },
                    dataType: "html"
                });
            });
        });
    </script>
{% endblock %}