{% extends '::base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/data-tables-bootstrap3/css/datatables.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-7">
            <div>
                <a class="btn btn-sm btn-primary" href="{{ path('purchase_new') }}">
                    Add <i class="icon-plus"></i>
                </a>
            </div>
            <br/>
            <section class="panel">
                <header class="panel-heading">
                    <strong>Purchase List</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table id="purchaseDataTable" class="display table table-bordered table-hover" cellpadding="0"
                               cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Company</th>
                                <th>Depot</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="" style="margin-top: 30px;">
        </div>
        <br/>

        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Product Info</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table id="purchaseLineDataTable" class="display table table-bordered table-hover"
                               cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/data-tables-bootstrap3/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function () {
            var purchaseTable = $('#purchaseDataTable').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '{{ path('purchase_result') }}',
                "aoColumns": [
                    {
                        "mData": "purchaseDate",
                        "mDataProp": "purchaseDate",
                        "sName": "purchaseDate"
                    },
                    {
                        "mData": "company.name",
                        "mDataProp": "company.name",
                        "sName": "company.name"
                    },
                    {
                        "mData": "depot.name",
                        "mDataProp": "depot.name",
                        "sName": "depot.name"
                    },
                    {
                        "mData": "status",
                        "mDataProp": "status",
                        "sName": "status",
                        "fnRender": function (oObj) {
                            if (oObj.aData['status'] == 1) {
                                return '<span class="label label-inverse">Finalized</span>'
                            }

                            return '<span class="label label-warning">Drafted</span>';
                        }
                    },
                    {
                        "mData": "id",
                        "mDataProp": "id",
                        "sName": "id",
                        "bSearchable": false,
                        "bSortable": false,
                        "sDefaultContent": "",
                        "fnRender": function (oObj) {
                            var showURL = '{{ path('purchase_show', {'id': 'repPID'}) }}';
                            var editURL = '{{ path('purchase_edit', {'id': 'repPID'}) }}';
                            var deleteURL = '{{ path('purchase_delete', {'id': 'repPID'}) }}';

                            return '<a href="' + showURL.replace('repPID', oObj.aData['id']) + '" class="btn btn-success btn-xs"><i class="icon-zoom-in"></i></a>' +
                                    ' <a href="' + editURL.replace('repPID', oObj.aData['id']) + '" class="btn btn-info btn-xs"><i class="icon-pencil"></i></a>' +
                                    ' <a href="' + deleteURL.replace('repPID', oObj.aData['id']) + '" class="btn btn-danger btn-xs confirm-delete"><i class="icon-trash"></i></a>';
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var purchaseLineTable = $('#purchaseLineDataTable').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '{{ path('purchase_line_result') }}',
                "aoColumns": [
                    {
                        "mData": "product.name",
                        "mDataProp": "product.name",
                        "sName": "product.name"
                    },
                    {
                        "mData": "quantity",
                        "mDataProp": "quantity",
                        "sName": "quantity"
                    },
                    {
                        "mData": "price",
                        "mDataProp": "price",
                        "sName": "price"
                    }
                ],
                "fnPreDrawCallback": function (oSettings, json) {
                    $('.dataTables_filter input').addClass('form-control input-sm');
                    $('.dataTables_filter input').css('width', '200px');
                    $('.dataTables_length select').addClass('form-control input-sm');
                    $('.dataTables_length select').css('width', '75px');
                }
            });
        });
    </script>
{% endblock %}
