{% extends '::base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/data-tables-bootstrap3/css/datatables.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <a class="btn btn-sm btn-primary" href="{{ path('purchase_new') }}">
                    Add <i class="icon-plus"></i>
                </a>
            </div>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <strong>Purchase List</strong>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table id="purchaseLineDataTable" class="display table table-bordered table-striped" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <th>Purchase Id</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/data-tables-bootstrap3/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function() {
            var purchaseTable = $('#purchaseLineDataTable').dataTable( {
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '{{ path('purchase_line_result') }}',
                "aoColumns": [
                    {
                        "mData": "purchase.id",
                        "mDataProp": "purchase.id",
                        "sName": "purchase.id"
                    },
                    {
                        "mData": "product.name",
                        "mDataProp": "product.name",
                        "sName": "product.name"
                    },
                    {
                        "mData": "quantity",
                        "mDataProp": "quantity",
                        "sName": "quantity"
                    },
                    {
                        "mData": "price",
                        "mDataProp": "price",
                        "sName": "price"
                    },
                    {
                        "mData": "purchase.status",
                        "mDataProp": "purchase.status",
                        "sName": "purchase.status",
                        "fnRender": function (oObj)
                        {
                            if(oObj.aData['purchase.status'] == true)
                            {
                                return '<span class="label label-success">Finalized</span>'
                            }

                            return '<span class="label label-default">Draft</span>';
                        }
                    },
                    {
                        "mData":  "id",
                        "mDataProp":  "id",
                        "sName":  "id",
                        "bSearchable": false,
                        "bSortable": false,
                        "sDefaultContent": "",
                        "fnRender": function (oObj)
                        {
                            var showURL = '{{ path('purchase_show', {'id': 'repPID'}) }}';
                            var editURL = '{{ path('purchase_edit', {'id': 'repPID'}) }}';
                            var deleteURL = '{{ path('purchase_delete', {'id': 'repPID'}) }}';

                            return '<a href="'+ showURL.replace('repPID', oObj.aData['id'])+'" class="btn btn-success btn-xs"><i class="icon-zoom-in"></i></a>' +
                                    ' <a href="'+editURL.replace('repPID', oObj.aData['id'])+'" class="btn btn-info btn-xs"><i class="icon-pencil"></i></a>' +
                                    ' <a href="'+deleteURL.replace('repPID', oObj.aData['id'])+'" class="btn btn-danger btn-xs btn-delete"><i class="icon-trash"></i></a>';
                        }
                    }
                ],
                "fnPreDrawCallback": function(oSettings, json) {
                    $('.dataTables_filter input').addClass('form-control input-sm');
                    $('.dataTables_filter input').css('width', '200px');
                    $('.dataTables_length select').addClass('form-control input-sm');
                    $('.dataTables_length select').css('width', '75px');
                }
            } );
        } );
    </script>
{% endblock %}
