{% extends '::base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-7">
            <section class="panel">
                <header class="panel-heading">
                    {#<strong>Purchase #{{ purchase.id }}</strong>#}
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Purchase Id</th>
                            <th>Purchase Date</th>
                            <th>Company</th>
                            <th>Depot</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in purchase %}
                            <tr>
                                <td>{{ line.id }}</td>
                                <td>{{ line.purchaseDate|date('d-m-Y') }}</td>
                                <td>{{ line.company }}</td>
                                <td>{{ line.depot }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-md-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Products</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Purchase Id</th>
                            <th>Id</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in purchaseLines %}
                            <tr>
                                <td>{{ line.purchase }}</td>
                                <td>{{ line.id }}</td>
                                <td>{{ line.product }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           {# <span class="pull-right">
            <a class="btn btn-primary" href="{{ path('purchase_edit', {'id' : purchase.id}) }}">
                Edit
            </a>#}
            </span>
            <a class="btn btn-primary" href="{{ path('purchase') }}">Back</a>
        </div>
    </div>
{% endblock %}
