{% extends '::base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}"/>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active"><a href="{{ path('purchase') }}">Purchase</a></li>
                <li class="active">Create New Purchase</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <section class="panel">
                <header class="panel-heading">
                    <strong>New Purchase</strong>
                      <span class="tools pull-right">
                          <a class="icon-chevron-down" href="javascript:;"></a>
                          <a class="icon-remove" href="javascript:;"></a>
                      </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ form_start(form, {'attr' :  { 'class': 'form-horizontal', 'id': 'masterForm', 'onSubmit': 'return masterOnSubmit();' } }) }}
                    {{ form_row(form.purchaseDate) }}
                    {{ form_row(form.supplier) }}
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label text-info">Total</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="supplier-total" type="text" placeholder="0.00" value="0" disabled>
                        </div>
                    </div>
                    {{ form_row(form.location) }}
                    {{ form_end(form) }}
                </div>
                <hr>
            </section>
        </div>
        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Add Purchase Line</strong>
                        <span class="tools pull-right">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                        </span>
                </header>
                <div class="panel-body">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                    {{ form_start(line_form, {'attr' :  { 'class': 'form-horizontal', 'id': 'lineForm' } }) }}
                    {{ form_row(line_form.product) }}
                    {{ form_row(line_form.manufacturer) }}
                    {{ form_row(line_form.quantity) }}
                    {{ form_row(line_form.price) }}
                    <hr>
                    <span class="pull-right">
                        <input type="button" class="btn btn-info" id="lineAdd" value="Add Line" onclick="addLine();"/>
                    </span>
                    {{ form_end(line_form) }}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Purchase Lines</strong>
                        <span class="tools pull-right">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                        </span>
                </header>
                <div class="panel-body">
                    <table id="lineViewer" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Manufacturer</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <input type="button" class="btn btn-info" id="submitForm" value="Save" onclick="submitBoth();"/>
            <span class="pull-right">
                <a class="btn btn-primary" href="{{ path('purchase') }}">
                    Back
                </a>
            </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var addedLines = [];

        function clearLinetable() {
            $('table#lineViewer tbody').html('');
        }

        function addLine() {
            if (addedLines.hasOwnProperty($('#purchase_line_product').val())) {
                noty({force: true, text: 'You already added this product please add another. Or delete existing and try again.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            if (!$('#purchase_line_product').val() || !$('#purchase_line_quantity').val() || !$('#purchase_line_price').val()) {
                noty({force: true, text: 'Please fill the form correctly', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            if (!$('#purchase_line_manufacturer').val()) {
                noty({force: true, text: 'Please add Manufacturer information', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }

            var html = '<tr class="' + $('#purchase_line_product').val() + '">';
            html += '<td>' + $('#purchase_line_product option:selected').text() + '<input type="hidden" value="' + $('#purchase_line_product').val() + '" name="' + $('#purchase_line_product').attr('name') + '[]" /></td>';
            html += '<td>' + $('#purchase_line_manufacturer').val() + '<input type="hidden" value="' + $('#purchase_line_manufacturer').val() + '" name="' + $('#purchase_line_manufacturer').attr('name') + '[]" /></td>';
            html += '<td>' + $('#purchase_line_quantity').val() + '<input type="hidden" value="' + $('#purchase_line_quantity').val() + '" name="' + $('#purchase_line_quantity').attr('name') + '[]" /></td>';
            html += '<td>' + $('#purchase_line_price').val() + '<input type="hidden" value="' + $('#purchase_line_price').val() + '" name="' + $('#purchase_line_price').attr('name') + '[]" /></td>';
            html += '<td><a href="javascript:void(0);" class="btn btn-danger btn-xs line-delete"><i class="icon-trash"></i></a></td>';
            html += '</tr>';
            $('table#lineViewer tbody').append(html);

            addedLines[$('#purchase_line_product').val()] = 1;
            document.getElementById('lineForm').reset();
        }


        function masterOnSubmit() {
            $('table#lineViewer tbody :input').not(':submit').clone().hide().appendTo('#masterForm');

            return true;
        }

        function submitBoth() {
            if (!$('#acme_purchasebundle_purchase_supplier').val()) {
                noty({force: true, text: 'Please select supplier.', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            if ($('table#lineViewer tbody').children().length <= 0) {
                noty({force: true, text: 'Please add product line', type: 'error', layout: 'topCenter', timeout: 3000});
                return false;
            }
            $('#masterForm').submit();
        }

        $(document).ready(function () {
            $(document).on("click", "a.line-delete", function () {
                if (!confirmDelete())
                    return false;

                var parentTr = $(this).closest('tr');
                var id = $(parentTr).attr('class');
                $(parentTr).remove();
                delete addedLines[id];
            });

            $('#acme_purchasebundle_purchase_supplier').change(function(){
                $.post(
                        '{{ path('supplier_total_purchase') }}',
                        {
                            'supplier': $('#acme_purchasebundle_purchase_supplier').val()
                        },
                        function(data)
                        {
                            $('#supplier-total').val(data.result.total);
                        },
                        'json'
                );
            });
        });
    </script>

    <script type="text/javascript" src="{{ asset('assets/noty/jquery.noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/noty/layouts/topCenter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/noty/themes/default.js') }}"></script>
{% endblock %}