{% extends '::base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active"><a href="{{ path('purchase') }}">Purchase</a></li>
                <li class="active">Purchase Detail's</li>
                <ul class="pull-right my-add">
                    <a class="btn btn-sm btn-success" href="{{ path('purchase_new') }}">
                        <i class="icon-plus"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="{{ path('purchase_edit', {'id' : purchase.id}) }}">
                        <i class="icon-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger btn-delete delete-confirm"
                       href="{{ path('purchase_delete', {'id' : purchase.id}) }}">
                        <i class="icon-trash"></i>
                    </a>
                </ul>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Purchase Detail's</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ purchase.id }}</td>
                        </tr>
                        <tr>
                            <th>Purchase Date</th>
                            <td>{{ purchase.purchaseDate|date('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <th>Supplier</th>
                            <td>{{ purchase.supplier }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ purchase.location }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>
                                {% if purchase.status %}
                                    <span class="label label-inverse">Finalized</span>
                                {% else %}
                                    <span class="label label-warning">Not finalized</span>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Product Info</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Manufacturer</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Transaction No</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in purchaseLines %}
                            <tr>
                                <td>{{ line.product }}</td>
                                <td>{{ line.manufacturer }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.price }}</td>
                                <td>{{ line.id }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="well-sm">
                    {% if purchase.status %}
                        <a href="{{ path('purchase_definalize', { 'id' : purchase.id }) }}" class="btn btn-danger">De-Finalize
                            this record</a>
                    {% else %}
                        <a href="{{ path('purchase_finalize', { 'id' : purchase.id }) }}" class="btn btn-success">Finalize
                            this record</a>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right">
                <a class="btn btn-primary" href="{{ path('purchase') }}">
                    Back
                </a>
            </span>
        </div>
    </div>
{% endblock %}
