{% extends '::base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-7">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Purchase #{{ purchase.id }}</strong>
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ purchase.id }}</td>
                        </tr>
                        <tr>
                            <th>Purchase Date</th>
                            <td>{{ purchase.purchaseDate|date('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>{{ purchase.company }}</td>
                        </tr>
                        <tr>
                            <th>Depot</th>
                            <td>{{ purchase.depot }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-md-5">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Products</strong>
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in purchaseLines %}
                            <tr>
                                <td>{{ line.product }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('purchase_edit', {'id' : purchase.id}) }}">
                Edit
            </a>
            <span class="pull-right">
                <a class="btn btn-primary" href="{{ path('purchase') }}">Back</a>
            </span>
        </div>
    </div>
{% endblock %}
