{% extends '::base.html.twig' %}

{% block title %}History{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-6">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">History</li>
                <li class="active">Purchase History</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
        <div class="col-lg-6">
            {% block kit_grid_filter %}
                <div class="clearfix">
                    <form class="form-inline pull-right" action="{{ grid.requestUri }}" id="{{grid.filterFormName}}_form" method="GET">
                        <div class="form-group" data-toggle="tooltip" title="Only transaction number's are allowed.">
                        <input class="form-control search-query" type="text" name="{{grid.filterFormName}}" placeholder="{{ "Search" | trans }}" id="{{grid.filterFormName}}" value="{{ grid.filterValue }}" />
                        </div>
                        <button type="submit" class="btn btn-mini btn-primary" value="{{ "Apply" | trans }}">{{ "Apply" | trans }}</button>
                        <a class="btn btn-mini btn-default" href="{{ grid.requestUri }}" id="{{grid.filterFormName}}_reset_button">{{ "Reset" | trans }}</a>
                    </form>
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Purchase History</strong>
                    <span class="tools pull-right">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                        <a class="icon-remove" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    {% embed '::Grid/bootstrap-grid.html.twig' with {'grid': grid} %}
                        {% block kit_grid_thead_column %}
                        {% endblock %}
                        {% block kit_grid_tbody_column %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </section>
        </div>
{% endblock %}
