{% extends '::base.html.twig' %}

{% block title %}Report{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-datepicker/css/datepicker.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-daterangepicker/daterangepicker-bs3.css') }}"/>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Issue Report</strong>
                          <span class="tools pull-right">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                        </span>
                </header>
                <div class="panel-body">
                    <form action="{{ app.request.uriForPath('/report/issue') }}" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date Range</label>
                            <div class="col-lg-8 col-xs-11">
                                <div class="input-group input-large" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control dpd1" name="from">
                                    <span class="input-group-addon">To</span>
                                    <input type="text" class="form-control dpd2" name="to">
                                </div>
                                <span class="help-block text-center">Select date range</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="pull-left">
                                <a href="{{ path('issue') }}" class="btn btn-primary">Get Report</a>
                            </span>
                            <input class="btn btn-primary reporte_form_btn" type="submit" id="getReport" value="Generate Report"/>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <div id="results"></div>
            </section>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.form.js') }}"></script>

    <script>
    $(document).ready(function () {
        $('.reporte_form_btn').on('click', function(e) {
            e.preventDefault();
            var form = $(this).closest('form');
                $("div").removeClass("loading-ball");
                $("#loading-full").removeAttr("id");
                $("#lightbox, #lightbox-loader").fadeIn(300);
                $("form").ajaxForm({
                    target: '#results',
                    success: function(msg) {
                        $("#lightbox, #lightbox-loader").fadeOut(300);
                    }
                }).submit();
        });
    });
    </script>


    <script type="text/javascript" src="{{ asset('assets/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
{% endblock %}