{% extends '::print.base.html.twig' %}

{% block report %}
    <h3 style="text-align: center">Eon InfoSys Technology</h3>
    <h4 style="text-align: center">Purchase Report</h4>
    <strong>Date Range: </strong> {{ params.fromDate|date('d-m-Y H:i:s') }} to {{ params.toDate|date('d-m-Y H:i:s') }}
    <br />
    <br />
    <table class="bordered" style="width: 100%;" cellpadding="5" cellspacing="0">
        <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for row in reportData %}
                {% set lines = row.lines %}
                {% set lineTotal = 0 %}

                <tr>
                <td rowspan="{{ (lines|length) + 1 }}">{{ row.purchaseDate|date('d-m-Y') }}</td>
                {% for line in lines %}
                    {% if loop.index != 0 %}
                        <tr>
                    {% endif %}
                    <td>{{ line.product.productCode }} - {{ line.product.productName }}</td>
                    <td>{{ line.product.unit.unitShortName }}</td>
                    <td>{{ line.batch.id }}</td>
                    <td>{{ (line.price/line.amount)|number_format(2) }}</td>
                    <td>{{ line.amount|number_format(4) }}</td>
                    <td>{{ line.price|number_format(2) }}</td>
                    </tr>
                    {% set lineTotal = lineTotal + line.price  %}
                {% endfor %}
                </tr>
                <tr>
                    <td colspan="6">Total</td>
                    <td><strong>{{ lineTotal|number_format(2) }}</strong></td>
                </tr>
                {% set sTotal = sTotal + lineTotal %}
                {% set total = total + lineTotal %}
            {% endfor %}

        <tr>
            <th colspan="6">Sumary of Total</th>
        </tr>
        </tbody>
    </table>
{% endblock %}

